<aside class="text-white p-3" style="width: 250px; min-height: 100vh; background-color: #FE829F;">
    <h2 class="fs-4 text-center mb-4">Hama-Ham</h2>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link text-white" href="/pacientes">Pacientes</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/usuarios">Usuarios</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/clinica">Clínica</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/estadisticas">Estadísticas</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/facturas">Facturas</a></li>
    </ul>
  </aside>