<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/subtitle.css">

<% /*
  Componente: subtitle

  Parámetros:
  - String text            → texto del subtítulo
*/ %>

<h1 class="subtitle"><%= text %></h1>
