.check-container {
    display: flex;
    align-items: center;
    width:fit-content;
  }
  
  .check-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #FE829F;
    border-radius: 4px;
    background-color: white;
    position: relative;
    display: inline-block;
    vertical-align:baseline;
    margin-bottom: 2px;
  }
  
  .check-input:checked {
    background-color: #FE829F;
    border-color: #FE829F;
  }
  
  .check-input:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  