<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cliente</title>
</head>

<body>
    <a href="/facturama/clientes">Lista</a>
    <form id="clienteForm">
        <label for="">Correo</label>
        <input type="text" name="Email">
        <br>
        <h2>Domicilio</h2>
        <label for="">Calle</label>
        <input type="text" name="Street">
        <br>
        <label for="">No. Exterior</label>
        <input type="text" name="ExteriorNumber">
        <br>
        <label for="">Colonia</label>
        <input type="text" name="Neighborhood">
        <br>
        <label for="">Código Postal</label>
        <input type="text" name="ZipCode">
        <br>
        <label for="">Municipio</label>
        <input type="text" name="Municipality">
        <br>
        <label for="">Estado</label>
        <input type="text" name="State">
        <br>
        <label for="">País</label>
        <input type="text" name="Country">
        <br>
        <h2>Datos Fiscales</h2>
        <label for="">RFC</label>
        <input type="text" name="Rfc">
        <br>
        <label for="">Nombre</label>
        <input type="text" name="Name">
        <br>
        <label for="">Uso de CFDI</label>
        <input type="text" name="CfdiUse">
        <br>

        <input type="submit" value="Submit">
    </form>
    <script>
        const Form = document.getElementById('clienteForm');
        Form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir acciones predeterminadas de Form

            const form = event.target;
            const formData = new FormData(form);

            const data = {
                Email: formData.get("Email"),
                Address: {
                    Street: formData.get("Street"),
                    ExteriorNumber: formData.get("ExteriorNumber"),
                    Neighborhood: formData.get("Neighborhood"),
                    ZipCode: formData.get("ZipCode"),
                    Municipality: formData.get("Municipality"),
                    State: formData.get("State"),
                    Country: formData.get("Country")
                },
                Rfc: formData.get("Rfc"),
                Name: formData.get("Name"),
                CfdiUse: formData.get("CfdiUse")
            }

            console.log(JSON.stringify(data, null, 2));

            fetch("/facturama/agregar-cliente", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log("Server Response:", result);
            })
        })
      </script>
</body>

</html>