<!DOCTYPE html>
<html>
<head>
  <title>Crear patient</title>
</head>
<body>
  <h1>Crear patient</h1>
    <form id="crear_patient_form" action="/patients/create" method="POST">
      <p>IDpatient: <input type="text" name="IdPatient" id="IdPatient" /></p>
      <p>Email: <input type="email" name="Email" id="Email" required /></p>
      <p>Nombre: <input type="text" name="Name" id="Name" /></p>
      <button type="submit">Guardar</button>
  </form>
</body>
</html>