<!DOCTYPE html>
<html>
<head>
  <title>Crear paciente</title>
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet">
  <link rel="stylesheet" href="/css/patients/patients.css">
</head>
<body class="">
  <div class="container mt-5 mb-5">
    
    
    <form class="register_patient_form" method="POST" action="/pacientes/registrar_paciente" 
    class="p-4 rounded shadow-sm">
    <!--Tarjeta Izquierda-->
    <div class="row align-items-center">
      <div class="col">
        <h2 class="p-4 m-0">Nuevo paciente</h2>
      </div>
      <div class="col-12 col-md-auto">
        <button class="register_patient_button me-2">Guardar</button>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4 card-scroll"">
            <div class="form-section izquierda">

              <h4 class="text-start mb-4"> Datos del paciente</h4>
              <div class="mb-3">
                <label class="form-label">Nombre del(@) paciente*:</label>
                <input name="Name" required class="form-control" />
              </div>
              
              <div class="mb-3">
                <label class="form-label">Email:</label>
                <input name="Email" class="form-control" />
              </div>
              
              <div class="mb-3">
                <label class="form-label">Teléfono:</label>
                <input name="Phone" type="number" class="form-control"/>
              </div>
              
              <div class="mb-3">
                <label class="form-label">Escolaridad:</label>
                <input name="Education" class="form-control" />
              </div>
              
              <div class="mb-3">
                <label class="form-label">Empleo:</label>
                <input name="Occupation" class="form-control" />
              </div>
              
              <div class="mb-3">
                <label class="form-label">Estado Civil:</label>
                <input name="Marital_Status" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Religión:</label>
                <input name="Religion" class="form-control" />
              </div>
        
        
              <div class="mb-3">
                <label class="form-label">Contacto de Emergencia:</label>
                <input name="Emergency_Contact" class="form-control" />
              </div>
        
              
              <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento:</label>
                <input name="Date_of_Birth" type="date" class="form-control" />
              </div>
            </div>
            <div class="form-text text-end mb-3">* Campos obligatorios</div>
          </div>
        </div>

        <!--Tarjeta Derecha-->
        <div class="col-md-8">
          <div class="card p-4 card-scroll"">
            <div class="row">
              <h4 class="text-start mb-4"> Valoración médica</h4>
              <div class="col-md-6 mb-3">
                <label class="form-label">Peso(kg):</label>
                <input name="Weight" type="number" class="form-control" />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Altura(m):</label>
                <input name="Height" type="number" class="form-control" />
              </div>
            
            <div class=" col-md-6 mb-3">
              <label class="form-label">Enfermedades sistemáticas:</label>
              <textarea 
                name="Pathological_Antecedents[Systematic_Diseases]" 
                class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Eventos quirúrgicos:</label>
              <textarea name="Pathological_Antecedents[Surgical_Antecedents]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Embarazos:</label>
              <textarea name="Pathological_Antecedents[Pregnancies]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Hospitalizaciones:</label>
              <textarea name="Pathological_Antecedents[Hospitalizations]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Lesiones músculoesqueléticas:</label>
              <textarea name="Pathological_Antecedents[Musculoskeletal_Problems]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Transfusiones:</label>
              <textarea name="Pathological_Antecedents[Transfusions]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Alergias:</label>
              <textarea name="Pathological_Antecedents[Allergies]"
              class="form-control"></textarea>
            </div>      
                        
            <div class="col-md-6 mb-3">
              <label class="form-label">Frecuencia de ingesta de alcohol:</label>
              <textarea name="Non_Pathological_Antecedents[Alcohol]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Otras sustancias:</label>
              <textarea name="Non_Pathological_Antecedents[Other_Substances]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Hábitos alimenticios:</label>
              <textarea name="Non_Pathological_Antecedents[Food]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Habitos de hidratación:</label>
              <textarea name="Non_Pathological_Antecedents[Hidration]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Actividad física:</label>
              <textarea name="Non_Pathological_Antecedents[Physical_Activity]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Actividad laboral:</label>
              <textarea name="Non_Pathological_Antecedents[Laboral_Activity]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Sueño:</label>
              <textarea name="Non_Pathological_Antecedents[Sleep]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Estrés:</label>
              <textarea name="Non_Pathological_Antecedents[Stress]"
              class="form-control"></textarea>
            </div>      
          
            <div class="col-md-6 mb-3">
              <label class="form-label">Hipertensión Arterial:</label>
              <textarea name="Family_History[Arterial_Hypertension]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Diabetes:</label>
              <textarea name="Family_History[Diabetes]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Cáncer:</label>
              <textarea name="Family_History[Cancer]"
              class="form-control"></textarea>
            </div>
            
            <div class=" col-md-6">
              <label class="form-label">Infarto Agudo al Miocardio (IAM):</label>
              <textarea name="Family_History[Acute_Myocardial_Infarction]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Evento Vascular Cerebral (EVC):</label>
              <textarea name="Family_History[Cerebrovascular_Accident]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Infección Respiratoria Viral (IRV):</label>
              <textarea name="Family_History[Viral_Respiratory_Infections]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Enfermedades Tiroideas:</label>
              <textarea name="Family_History[Thyroid_Disease]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Artritis Reumatoide / Lupus:</label>
              <textarea name="Family_History[Rheumatoid_Arthritis_Lupus]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Trastornos Neuromusculares:</label>
              <textarea name="Family_History[Neuromuscular_Disorders]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Síndrome de Down:</label>
              <textarea name="Family_History[Down_Syndrome]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Trastornos Mentales:</label>
              <textarea name="Family_History[Mental_Disorders]"
              class="form-control"></textarea>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Otro:</label>
              <textarea name="Family_History[Other]"
              class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Razón de la Consulta:</label>
              <textarea 
                name="Reason_for_Consultation" class="form-control">
              </textarea>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
    
  </div>
</body>
</html>
