<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
</head>

<body>
    <a href="/clientes">Lista</a>
    <form id="clienteForm">
        <label for="">Correo</label>
        <input type="text" name="Email" value="">
        <br>
        <h2>Domicilio</h2>
        <label for="">Calle</label>
        <input type="text" name="Street" value="">
        <br>
        <label for="">No. Exterior</label>
        <input type="text" name="ExteriorNumber" value="">
        <br>
        <label for="">Colonia</label>
        <input type="text" name="Neighborhood" value="">
        <br>
        <label for="">Código Postal</label>
        <input type="text" name="ZipCode" value="">
        <br>
        <label for="">Municipio</label>
        <input type="text" name="Municipality" value="">
        <br>
        <label for="">Estado</label>
        <input type="text" name="State" value="">
        <br>
        <label for="">País</label>
        <input type="text" name="Country" value="">
        <br>
        <h2>Datos Fiscales</h2>
        <label for="">RFC</label>
        <input type="text" name="Rfc" value="">
        <br>
        <label for="">Nombre</label>
        <input type="text" name="Name" value="">
        <br>
        <label for="">Uso de CFDI</label>
        <input type="text" name="CfdiUse" value="">
        <br>

        <input type="submit" value="Submit">
    </form>
    <script>
        const clientId = "<%= id %>"

        fetch(`/clientes/editar-cliente-info/${clientId}`)
        .then(response => response.json())
        .then(client => {
            document.querySelector('input[name="Email"]').value = client.Email || ''
            document.querySelector('input[name="Street"]').value = client.Address.Street || ''
            document.querySelector('input[name="ExteriorNumber"]').value = client.Address.ExteriorNumber || ''
            document.querySelector('input[name="Neighborhood"]').value = client.Address.Neighborhood || ''
            document.querySelector('input[name="ZipCode"]').value = client.Address.ZipCode || ''
            document.querySelector('input[name="Municipality"]').value = client.Address.Municipality || ''
            document.querySelector('input[name="State"]').value = client.Address.State || ''
            document.querySelector('input[name="Country"]').value = client.Address.Country || ''
            document.querySelector('input[name="Rfc"]').value = client.Rfc || ''
            document.querySelector('input[name="Name"]').value = client.Name || ''
            document.querySelector('input[name="CfdiUse"]').value = client.CfdiUse || ''
        })


        const Form = document.getElementById('clienteForm');
        Form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir acciones predeterminadas de Form

            const form = event.target;
            const formData = new FormData(form);

            const data = {
                Id: clientId,
                Address: {
                    Street: formData.get("Street"),
                    ExteriorNumber: formData.get("ExteriorNumber"),
                    Neighborhood: formData.get("Neighborhood"),
                    ZipCode: formData.get("ZipCode"),
                    Municipality: formData.get("Municipality"),
                    State: formData.get("State"),
                    Country: formData.get("Country")
                },
                Rfc: formData.get("Rfc"),
                Name: formData.get("Name"),
                Email: formData.get("Email"),
                CfdiUse: formData.get("CfdiUse"),
                TaxZipCode: formData.get("ZipCode")
            }

            console.log(JSON.stringify(data, null, 2));

            fetch(`/clientes/editar-cliente/${clientId}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log("Server Response:", result);
            })
        })
    </script>
</body>

</html>