<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista</h1>
    <a href="/clientes/agregar-cliente">Agregar Cliente</a>
    <div id="lista">

    </div>
</body>
<script>
    const lista = document.getElementById('lista');
    fetch('/clientes/get-clients')
    .then(response => response.json())
    .then(data => {
        for (let user of data.data) {
            lista.innerHTML += `
                <li>
                ${user.Name} <a href="/clientes/editar-cliente/${user.Id}">Editar</a> <a href="/clientes/consultar-cliente/${user.Id}">Consultar</a>
                </li>
            `
        }
    })
</script>
</html>