<link rel="stylesheet" href="/css/check.css">

<% /*
  Componente: check

  Parámetros:
  - String id        → id y name del input
  - String text      → texto al lado del check
  - Boolean checked  → si está activado por defecto
*/ %>

<div class="check-container">
  <input
    type="checkbox"
    id="<%= id %>"
    name="<%= id %>"
    class="check-input"
    <%= checked ? 'checked' : '' %>
  /></input>
  <%- text %>
</div>