<link rel="stylesheet" href="/css/rowComponents.css">

<% /*
  Componente: modal
  Parámetros:
  - Content content     → componentes que se deseen esten en renglon
*/ %>

<div class="rowComponents">
    <%- content %>
</div>
