<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/subsubtitle.css">

<% /*
  Componente: subsubtitle

  Parámetros:
  - String text            → texto del subsubtítulo
*/ %>

<h1 class="subsubtitle"><%= text %></h1>
