<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/title.css">

<% /*
  Componente: title

  Parámetros:
  - String text            → texto del título
*/ %>

<h1 class="title"><%= text %></h1>
